.profile-bg-image {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
}

.profile-photo {
    background-image: url('./images/Anuj.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
}
.blog-watermark {
    font-size: small;
}
.blog-date{
    font-size: small;
}